################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/Ostrich/.vs/Ostrich
*.exe
/Ostrich/OstrichRenderer/bin/Release/OstrichRenderer.exe.config
*.pdb
/Ostrich/OstrichRenderer/bin/x64/Release/OstrichRenderer.exe.config
/Ostrich/OstrichRenderer/obj
